<!DOCTYPE>
<html>
<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}">
    <meta charset="UTF-8">
    <title>Question {{ question.id}}</title>
</head>

<body>
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'polls:removeQ' question.id %}" method="post">
    {% csrf_token %}
    <h1>{{ question.question_text }}</h1>
    <input type="submit" value="Remove Question">
</form>
<br><br>

<form name="vote" action= "{% url 'polls:vote_or_removeC' question.id %}"
      method="post">
        {% csrf_token %}
        {% for choice in question.choice_set.all %}
        <input type="radio" name="choice"
               id="choice{{forloop.counter}}" value="{{ choice.id }}">
        <label for="choice{{ forloop.counter }}">
            {{ choice.choice_text }}</label>
        <button type="submit" name="choose" value="{{ choice.id }}">
            Remove</button>
        <br/><br/>
        {% endfor %}
        <input type="submit" name="choose" value="Vote" /><br /><br />
    </form>


<form name="add_choice" action="{% url 'polls:addC' question.id %}" method="post">
    {% csrf_token %}
    <input type="text" name="new_choice_text" value="">
    <input type="submit" value="Add choice">
</form>


</body>
</html>